---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Instrumentos Laboratorio</h1>
  
  <div class="art-detail">
    <div class="art-picture"></div>
    <div class="description">
    Pipeta

   
   
    , instrumento de laboratorio que se utiliza para medir o transvasar pequeñas cantidades de líquido. Es un tubo de vidrio abierto por ambos extremos y más ancho en su parte central. Su extremo inferior, terminado en punta, se introduce en el líquido; al succionar por su extremo superior, el líquido asciende por la pipeta.

Los dos tipos de pipeta que se utilizan en los laboratorios con más frecuencia son la pipeta de Mohr o graduada y la pipeta de vertido. En la primera se pueden medir distintos volúmenes de líquido, ya que lleva una escala graduada. La pipeta de vertido posee un único enrase circular en su parte superior, por lo que sólo puede medir un volumen.

La capacidad de una pipeta oscila entre menos de 1 ml y 100 ml. En ocasiones se utilizan en sustitución de las probetas, cuando se necesita medir volúmenes de líquidos con más precisión

<div class="art-detail">
    <div class="art-picture"></div>
    <div class="description">
    Morteros 

    hola 
    
    </div>
  </div>
</BaseLayout>